<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_menpas_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MenPas"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.BaseActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.CuestionarioDinamico"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ModrianSimon"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ModrianSimonInicio"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ModrianParejas"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ModrianParejasGrid"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ModrianStroop"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ModrianStroopGrid"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.CuestionarioD2"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ModrianFotosGrid"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.EfectoStroop"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.Documentacion"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.Areas"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.MondrianColoresGrid"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.Subarea"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ModrianFotos"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.Area"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.MondrianColores"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.Referencias"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.CuestionariosRealizados"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.BajaUsuario"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.DatosPersonales"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.DetallesCuestionario"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.Autores"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.CentrosRegistrados"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.DudasSugerencias"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.FAQ"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.MenuPrincipal"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.Novedades"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.CambioDePerfil"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.RegistroDeCentro"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.RecuperarContrasenya"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".utils.Desplegables"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.IniciarSesion"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegistroUsuario"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.EfectoStroopGrid"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>